@font-face{
    font-family: 'Montserrat';
    src: url('../fonts/montserrat.woff'), url('../fonts/montserrat.woff2');
    font-weight: 400;
}
@font-face{
    font-family: 'Open Sans Extrabold';
    src: url('../fonts/OpenSansExtrabold.woff'), url('../fonts/OpenSansExtrabold.woff2');
    font-weight: 400;
}
@font-face{
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans.woff'), url('../fonts/OpenSans.woff2');
    font-weight: 400;
}
/*-----------------------Начало "Общие стили"------------------------*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}
.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
a {
    text-decoration: none;
}
a:active,
a:visited,
a:focus {
    outline: none;
    border: none;
}
p {
    margin: 0;
}
button, input, textarea {
    outline: none;
    border: none;
}
button {
    cursor: pointer;
}
.template-width {
    max-width: 1170px;
    margin: 0 auto;
}
* {
    /*outline: 1px solid red;*/
}

.clear-fix::after {
    display: block;
    content: "";
    clear: both;
}
.clear-fix::before {
    display: block;
    content: "";
    clear: both;
}
body {
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 16px;
}


/*-----------------------Конец "Общие стили"------------------------*/